<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Clima Hoje</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<h1>🌦️ Previsão do Tempo</h1>

<div class="card">
    <p><b>Temperatura:</b> {{ clima.current.temperature_2m }} °C</p>
    <p><b>Umidade:</b> {{ clima.current.relative_humidity_2m }} %</p>
    <p><b>Vento:</b> {{ clima.current.wind_speed_10m }} km/h</p>
</div>

<h2>📅 Próximos dias</h2>

{% for i in range(3) %}
<div class="card">
    <p><b>Máx:</b> {{ clima.daily.temperature_2m_max[i] }} °C</p>
    <p><b>Mín:</b> {{ clima.daily.temperature_2m_min[i] }} °C</p>
    <p><b>Chuva:</b> {{ clima.daily.precipitation_sum[i] }} mm</p>
</div>
{% endfor %}

</body>
</html>
